torch
torchvision
transformers
accelerate
sentencepiece
pillow
numpy
safetensors
sacrebleu
rouge-score
nltk
bert-score
huggingface_hub
protobuf
open_clip_torch
scikit-learn

fastapi
uvicorn[standard]
python-multipart
